.cold1 {
  background: rgb(0, 68, 255);
}

.cold1dark {
  background: darken(rgb(0, 68, 255), 15%);
}

.cold2 {
  background: rgb(0, 84, 255);
}

.cold2dark {
  background: darken(rgb(0, 84, 255), 15%);
}

.cold3 {
  background: rgb(0, 100, 255);
}

.cold3dark {
  background: darken(rgb(0, 100, 255), 15%);
}

.cold4 {
  background: rgb(0, 116, 255);
}

.cold4dark {
  background: darken(rgb(0, 116, 255), 15%);
}

.cold5 {
  background: rgb(0, 132, 255);
}

.cold5dark {
  background: darken(rgb(0, 132, 255), 15%);
}

.cold6 {
  background: rgb(0, 148, 255);
}

.cold6dark {
  background: darken(rgb(0, 148, 255), 15%);
}

.cold7 {
  background: rgb(0, 164, 255);
}

.cold7dark {
  background: darken(rgb(0, 164, 255), 15%);
}

.cold8 {
  background: rgb(0, 180, 255);
}

.cold8dark {
  background: darken(rgb(0, 180, 255), 15%);
}

.cold9 {
  background: rgb(0, 196, 255);
}

.cold9dark {
  background: darken(rgb(0, 196, 255), 15%);
}

.cold10 {
  background: rgb(0, 212, 255);
}

.cold10dark {
  background: darken(rgb(0, 212, 255), 15%);
}

.cold11 {
  background: rgb(0, 228, 255);
}

.cold11dark {
  background: darken(rgb(0, 228, 255), 15%);
}

.cold12 {
  background: rgb(0, 255, 244);
}

.cold12dark {
  background: darken(rgb(0, 255, 244), 15%);
}

.cold13 {
  background: rgb(0, 255, 208);
}

.cold13dark {
  background: darken(rgb(0, 255, 208), 15%);
}

.hot1 {
  background: rgb(253, 255, 0);
}

.hot1dark {
  background: darken(rgb(253, 255, 0), 15%);
}

.hot2 {
  background: rgb(255, 250, 0);
}

.hot2dark {
  background: darken(rgb(255, 250, 0), 15%);
}

.hot3 {
  background: rgb(255, 240, 0);
}
.hot3dark {
  background: darken(rgb(255, 240, 0), 15%);
}

.hot4 {
  background: rgb(255, 230, 0);
}

.hot4dark {
  background: darken(rgb(255, 230, 0), 15%);
}

.hot5 {
  background: rgb(255, 220, 0);
}

.hot5dark {
  background: darken(rgb(255, 220, 0), 15%);
}

.hot6 {
  background: rgb(255, 210, 0);
}

.hot6dark {
  background: darken(rgb(255, 210, 0), 15%);
}

.hot7 {
  background: rgb(255, 200, 0);
}

.hot7dark {
  background: darken(rgb(255, 200, 0), 15%);
}

.hot8 {
  background: rgb(255, 190, 0);
}

.hot8dark {
  background: darken(rgb(255, 190, 0), 15%);
}

.hot9 {
  background: rgb(255, 180, 0);
}

.hot9dark {
  background: darken(rgb(255, 180, 0), 15%);
}

.hot10 {
  background: rgb(255, 170, 0);
}

.hot10dark {
  background: darken(rgb(255, 170, 0), 15%);
}

.hot11 {
  background: rgb(255, 160, 0);
}

.hot11dark {
  background: darken(rgb(255, 160, 0), 15%);
}

.hot12 {
  background: rgb(255, 150, 0);
}

.hot12dark {
  background: darken(rgb(255, 150, 0), 15%);
}

.hot13 {
  background: rgb(255, 140, 0);
}

.hot13dark {
  background: darken(rgb(255, 140, 0), 15%);
}

.hot14 {
  background: rgb(255, 130, 0);
}

.hot14dark {
  background: darken(rgb(255, 130, 0), 15%);
}

.hot15 {
  background: rgb(255, 120, 0);
}

.hot15dark {
  background: darken(rgb(255, 120, 0), 15%);
}

.hot16 {
  background: rgb(255, 110, 0);
}

.hot16dark {
  background: darken(rgb(255, 110, 0), 15%);
}

.hot17 {
  background: rgb(255, 100, 0);
}

.hot17dark {
  background: darken(rgb(255, 100, 0), 15%);
}

.hot18 {
  background: rgb(255, 90, 0);
}

.hot18dark {
  background: darken(rgb(255, 90, 0), 15%);
}

.hot19 {
  background: rgb(255, 80, 0);
}

.hot19dark {
  background: darken(rgb(255, 80, 0), 15%);
}

.hot20 {
  background: rgb(255, 70, 0);
}

.hot20dark {
  background: darken(rgb(255, 70, 0), 15%);
}
